{% extends 'accueil.html.twig' %}

{% block title %}Gestion compte{% endblock %}

{% block body %}

<div></br></br></div>

<div class="row">
            <div class="container col-md-8">
                <div class="card ">
                    <div class="card-header"><center style="color:red;">Nouveau compte </center></div>
                        <div class="card-body">
                        {{ form(form) }}
                        </div>   
                </div> 
            </div>
</div>

{% endblock %}
